.tjanster__container ul {
    list-style: none;
    padding: 0 0.5rem;
    margin:  0;
}

.tjanster__container ul li {
    margin-left: 0;
    position: relative;
    padding-left: 1em;
    margin-bottom: 0.7rem;
}

.tjanster__container ul li::before {
    content:"-";
    font-size: 22px;
    position: absolute;
    top: 0;
    left: 0;
  }