.hoja__three > h1 {
    /*text-shadow: 6px 0px 0px var(--color-black);*/
    color: var(--color-white);
}

.hoja__three p {
    margin-bottom: 1rem;
    color: var(--color-white);
}

.hoja__three > .hoja__columns > div:first-child p:first-of-type {
    margin-bottom: 2rem;
}

.hoja__three ul {
    list-style: none;
    padding: 0 0.3rem;
    margin: 0;
    color: var(--color-white);
}

.hoja__three .hoja__columns ul li {
    margin-bottom: 1rem;
    margin-left: 0;
    position: relative;
    padding-left: 2rem;
}

.hoja__three .hoja__columns ul li::before {
    content: '- ';
    font-size: 24px;
    line-height: 24px;
    position: absolute;
    top: 0;
    left: 0;
}

.hoja__three .hoja__story-container h2,
.hoja__three .hoja__story-container p {
    color: var(--color-white);
}

.hoja__three-ref {
    font-size: 20px!important;
}

.hoja__three .hoja__spotlight {
    background-color: var(--color-third);
    box-shadow: 7px 7px 0px 3px var(--color-black);
}

.hoja__three .hoja__spotlight h2,
.hoja__three .hoja__spotlight ul li,
.hoja__three .hoja__spotlight ul li p {
    color: var(--color-black);
}

.hoja__three .hoja__spotlight img {
    filter: unset;
}

@media screen and (max-width: 1630px) {
    .hoja__three > ul li::before {
        line-height: 18px!important;
    }
}

@media screen and (max-width:1000px) {
    .hoja__three .hoja__columns ul li::before {
        font-size: 16px;
        line-height: 20px!important;
    }

    .hoja__three-ref {
        font-size: 14px!important;
    }
}

@media screen and (max-width: 820px) {
    .hoja__three .hoja__columns ul li {
        padding-left: 1.5rem;
    }
}

@media screen and (max-width: 400px) {
    .hoja__three .hoja__spotlight {
        box-shadow: 4px 4px 0px 3px var(--color-secondary);
    }
}