.hoja__modul1 {
    background-color: var(--color-secondary);
}

.hoja__modul1-header {
    background-color: var(--color-black);
    width: 100%;
}

.hoja__modul1-intro,
.hoja__modul1-two,
.hoja__modul1-four {
     /* ff 3.6+ */
     background:-moz-linear-gradient(180deg, rgba(244, 243, 238, 1) 92%, rgba(116, 46, 104, 1) 100%); 

     /* safari 5.1+,chrome 10+ */
     background:-webkit-linear-gradient(180deg, rgba(244, 243, 238, 1) 92%, rgba(116, 46, 104, 1) 100%);
 
     /* opera 11.10+ */
     background:-o-linear-gradient(180deg, rgba(244, 243, 238, 1) 92%, rgba(116, 46, 104, 1) 100%);
 
     /* ie 6-9 */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#742E68', endColorstr='#F4F3EE', GradientType=1 );
 
     /* ie 10+ */
     background:-ms-linear-gradient(180deg, rgba(244, 243, 238, 1) 92%, rgba(116, 46, 104, 1) 100%);
 
     /* global 94%+ browsers support */
     background:linear-gradient(180deg, rgba(244, 243, 238, 1) 92%, rgba(116, 46, 104, 1) 100%);
}

.hoja__modul1-dark {
        /* ff 3.6+ */
        background:-moz-linear-gradient(0deg, rgba(244, 243, 238, 1) 0%, rgba(116, 46, 104, 1) 8%); 

        /* safari 5.1+,chrome 10+ */
        background:-webkit-linear-gradient(0deg, rgba(244, 243, 238, 1) 0%, rgba(116, 46, 104, 1) 8%);
    
        /* opera 11.10+ */
        background:-o-linear-gradient(0deg, rgba(244, 243, 238, 1) 0%, rgba(116, 46, 104, 1) 8%);
    
        /* ie 6-9 */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4F3EE', endColorstr='#742E68', GradientType=1 );
    
        /* ie 10+ */
        background:-ms-linear-gradient(0deg, rgba(244, 243, 238, 1) 0%, rgba(116, 46, 104, 1) 8%);
    
        /* global 94%+ browsers support */
        background:linear-gradient(0deg, rgba(244, 243, 238, 1) 0%, rgba(116, 46, 104, 1) 8%);
}