.hoja__intro-container {
    display: flex;
    flex-direction: column;
}

.hoja__intro-container > h1 {
    color: var(--color-black);
    align-self: center;
}

.hoja__intro-container p {
    align-self: center;
    text-align: center;
    color: var(--color-black);
    max-width: 80%;
}

.hoja__intro-container p:not(:last-of-type) {
    margin-bottom: 1rem;
}