@font-face {
  font-family: 'TheSans';
  src: local(TheSans), url('./fonts/thesans/TheSans\ Plain.otf') format('truetype');
  font-weight: normal;
}

:root {
  --font-family: 'TheSans';
  
  --color-white: #F4F3EE;
  --color-black: #463F3A;
  --color-primary:  #742e68;
  --color-secondary: #F4F3EE;
  --color-third: #fff08f;
}